#footer{
  background-color: #000000;
  padding: 15px 0 15px;
}

.copy{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff80;
  text-transform: capitalize;
}

.footer__content{
  display: flex;
  justify-content: center;
}

.footer__wrap{
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: #ffffff80;
  transition: 0.2s;
}

.footer__wrap i{
  transform: rotate(-360deg);
  transition: 1s;
}

.footer__facebook i:hover{
  font-size: 20px;
  text-shadow: none;
  transform: rotate(360deg);
  transition: 3s;
}

.footer__twitter i:hover{
  font-size: 20px;
  text-shadow: none;
  transform: rotate(360deg);
  transition: 3s;
}

.footer__googleplus i:hover{
  font-size: 20px;
  text-shadow: none;
  transform: rotate(360deg);
  transition: 3s;
}

.footer__instagram i:hover{
  font-size: 20px;
  text-shadow: none;
  transform: rotate(360deg);
  transition: 3s;
}

.footer__rss i:hover{
  font-size: 20px;
  text-shadow: none;
  transform: rotate(360deg);
  transition: 3s;
}