@import url('../css/header.css');
@import url('../css/social.css');
@import url('../css/awesome.css');
@import url('../css/price.css');
@import url('../css/import.css');
@import url('../css/reviews.css');
@import url('../css/axure.css');
@import url('../css/footer.css');

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


html{
  font-family: 'Open Sans', 'Raleway', sans-serif;
}

.container{
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  position: relative;
  z-index: 1;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #212121;
}

h2::after{
  display: block;
  content: '';
  width: 64px;
  height: 2px;
  background-color: #E72424;
  margin: 35px auto 35px;
}

h3{
  font-size: 20px;

}

.subtitle{
  text-align: center;
  margin-bottom: 68px;
}

.subtitle p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #86878B
}
